{#
/**
 * @file
 * Default template for block.
 */
#}
{%
set classes = [
'block',
bundle ? 'block--' ~ bundle|clean_class,
id ? 'block--' ~ id|clean_class,
]
%}
<div{{ attributes.addClass(classes)|without('id') }}>
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
</div>
