<div data-ng-slider ng-init="uuid='{{ uuid }}'">
  <div class="slider">
    <ul class="slides">
      {% for image in images%}
        <li>
          <img src="{{ image.url }}"> <!-- random image -->
          <div class="caption center-align">
            {#
            <h3>This is our big Tagline!</h3>
            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            #}
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
