{#
/**
 * @file
 * Template for the main page.
 */
#}

<header>
  <nav class="teal accent-3">
    <div class="nav-wrapper">

      {# <a href="#!" class="brand-logo">Seggroup</a> #}
        {% if page.logo %}
            {{ page.logo }}
        {% endif %}
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/inicio">Inicio</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/inicio">Inicio</a></li>
      </ul>
    </div>
  </nav>
</header>
<main role="main">
  <div class="container-fluid">
    {{ page.content }}
  </div>
</main>

<footer class="page-footer teal accent-3">
  <div class="container">
    <div class="row">
      <div class="col l4 m6 s12 center">
        <i class="large material-icons">settings_input_composite</i>
        <h5 class="white-text">Quienes somós</h5>
        <p class="grey-text text-lighten-4"><b>SEG GROUP</b>, es un grupo de profesionales cuyo objetivo es direccionar a diferentes tipos de organizaciones en el diseño e implementación de sistemas de gestión, estableciendo herramientas que permitan brindar soluciones en la búsqueda continua del éxito y el crecimiento empresarial.
        </p>
      </div>
      <div class="col l4 m6 s12 center">
        <i class="large material-icons">settings_input_composite</i>
        <h5 class="white-text">Mision</h5>
        <p class="grey-text text-lighten-4">Somos un grupo de consultores especializados que presta sus servicios a compañías que desean realizar diseño, implementación y mantenimiento de los diferentes tipos de Sistemas de Gestión, garantizando el cumplimiento de todos los requerimientos exigidos por la Ley y de otra índole. Así mismo, nos encargamos de apoyar la mejora continua de su empresa optimizando y mejorando procesos.
        </p>
      </div>
      <div class="col l4 m6 s12 center">
        <i class="large material-icons">settings_input_composite</i>
        <h5 class="white-text">Visión</h5>
        <p class="grey-text text-lighten-4">
          <b>SEG GROUP</b> será en el 2020 el mejor aliado estratégico para las diferentes empresas y colaboradores, garantizando calidad en sus servicios y logrando la confiabilidad y seguridad de sus clientes.
        </p>
        {#
        {{ page.footer }}
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
        #}
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
      <div class="col l3 m3 s12">
        <p>© 2017 4eign</p>
      </div>
      <div class="col l7 m7 s12 right">
        {{ page.footer }}
      {#<a class="grey-text text-lighten-4 right" href="#!">More Links</a>#}
      </div>
      </div>
    </div>
  </div>
</footer>
